# Next.js
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/ragaverse

# Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
JWT_SECRET=
EMAIL_SERVER=
EMAIL_FROM=
OTP_SECRET=

# AI Integrations
OPENAI_API_KEY=
CLOUDINARY_URL=

# Storage
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
